
  <div class="row content-text">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
      <p class="h1">Elérhetőségeink</p><hr> <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 default-font">
      <b>Matejka Márton</b><br>
      műanyagáru nagykereskedés<p>
      2161 Csomád Templom u. 15 <br>
      (<a href="https://maps.app.goo.gl/wg7ZmFX9CGTA14jr5" target="_blank">google maps</a>)<p>
        <strong>Tel/Fax: </strong><a href="tel:06-28-366-683">06-28-366-683</a><br>
        <strong>Mobil: </strong><a href="tel:06-30-9519-461">06-30-9519-461</a><br>
        <strong>E-mail: </strong>
       <a href="mailto:matejkamarton@freemail.hu">matejkamarton&#64;freemail.hu</a><br>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 default-font text-center">
      <img [ngSrc]="'/public/assets/img/content/contact/warehouse.jpg'" width="312" height="221" alt="" border="0" priority>
    </div>
  </div>

<app-contact-form></app-contact-form>
