<div class="container">

  <div class="row content-text">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">

      <p class="h1">
        Üdvözöljük a Matejka Műanyagárú Nagykereskedés weboldalán!
      </p>
      <hr>
      <p>
        <img [ngSrc]="'public/assets/img/content/welcome/welcome.jpg'" width="320" height="167" alt="" border="0">
        <p>
          Fő tevékenységünk kertészeti és háztartási műanyagáruk nagykereskedelme, melyet az ország szinte egész területén 1992 óta végzünk. A forgalmazott áruk ára magába foglalja a szállítási díjat is. A logisztika saját gépkocsikkal történik.
        </p>
        <p>
          A termékeink nagy részét hazai gyártóktól szerezzük be, mert fontosnak tartjuk, hogy ezek az áruk minden vevőnk boltjában megtalálhatóak legyenek. A termékskálát igyekszünk vevőink igényeinek megfelelően állandóan bővíteni.
          <br>
          Kapcsolataink lehetõvé teszik, hogy vevõink egyedi kívánságait is teljesítsük.
        </p>
        <p>
          Rendeléseiket az <a href="/contact" routerLink="/contact" routerLinkActive="active">elérhetőségeink</a> menüpont alattiak szerint adhatják le.
        </p>
        <br>
        <hr>
        <br>
    </div>
  </div>
</div>
