

<!--<center>-->
  <h1><strong>Üdvözöljük honlapunkon!</strong></h1>
  <p>

    <img src="assets/img/content/welcome/welcome.jpg" width="320" height="180" alt="" border="0">
<!--</center>-->


<p>Fõ tevékenységünk kertészeti és háztartási mûanyagáruk nagykereskedelme, melyet az ország szinte egész területén 1992 óta végzünk.A forgalmazott áruk ára magába foglalja a szállítási díjat is. A logisztika saját gépkocsikkal történik.  </p>
<p>
  A termékeink nagy részét hazai gyártóktól szerezzük be, mert fontosnak tartjuk, hogy ezek az áruk minden vevõnk boltjában megtalálhatóak legyenek. A termékskálát igyekszünk vevõink igényeinek megfelelõen állandóan bõvíteni.<br>
  Kapcsolataink lehetõvé teszik, hogy vevõink egyedi kívánságait is teljesítsük.</p>
<p>
  Rendeléseiket az <a href="elerhetoseg.html">elérhetõségünk</a> menüpont alattiak szerint adhatják le.
</p>
<br>
<hr size="2" width="80%">
<h3>Tájékoztatjuk kedves látogatóinkat, hogy az új 2015-ös gazdaboltos árúkinálatunk megtekinthető, továbbá letölthető az <a href="download/matejkanagyker_gazdaboltos_aruk_2015.pdf"> alábbi linken.</a></h3>








