<!--

<nav id="vertical-navbar" class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand align-middle" routerLink="/welcome">
    <img id="logo" class="" [ngSrc]="'/public/assets/img/layout/logo.png'" width="311" height="80" alt="" border="0" priority="">
  </a>

<span id="header-search">
      <app-search-box></app-search-box>
</span>
-->
<nav id="vertical-navbar" class="navbar navbar-expand-lg">
   <button type="button" id="horizontal-menu-button" class="btn btn-info" (click)="onClick()">
     <i class="fas fa-align-left"></i>
     <span>
      <i class="bi bi-list"></i>
    </span>
   </button>
</nav>






<!--

https://stackoverflow.com/questions/52413873/angular-invoking-a-function-in-one-component-with-events-on-another-component



-->
