
<!--

<div class="row content-text">
  <div class="col-sm-12 col-xl-6 align-middle">

    <p class="h2" style="justify-content: center">Termékkereső:</p>

  </div>

</div>
<br>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">

      <label for="search_input"><span class="warning-sign">*</span>Keresés:</label>
      <input type="text" class="form-control" id="search_input" name="submit_search"
             data-toggle="tooltip" data-placement="top" value="" placeholder="terméknév vagy cikkszám" formControlName="search_input">
      <span class="warning-sign">&lt;!&ndash;<?php echo $nameError;?>&ndash;&gt;</span>
      <br>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
      <button type="submit" [disabled]="searchForm.invalid">Keresés</button>
    </div>

  </div>

  -->






  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" id="search_results">

      <app-catalog-item></app-catalog-item>

    </div>
  </div>


<!--

</form>
-->
