<div id="background" class="bg-image">

<div class="container">



  <!--<header>
    <app-header></app-header>
  </header>-->

  <main>
    <!--<div class = "content content-top">
      <router-outlet></router-outlet>

    </div>-->


    <div class="wrapper">
      <!-- Sidebar  -->


      <nav id="sidebar" *ngIf="isSidebarOpen">
        <div class="sidebar-header" (click)="toggleSidebar()">



            <h4>

              <i class="bi bi-list"></i>

            Menü

          </h4>



          <hr>

          <!--<img src="assets/img/layout/logo.png" width="311" height="80" alt="" border="0">-->

        </div>

        <ul class="list-unstyled components active">

          <li>
            <a href="/search" routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Termékkereső</a>
          </li>
          <li>
            <a href="/welcome" routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Rólunk</a>
          </li>
          <li>
            <a href="/services" routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Szolgáltatásaink</a>
          </li>
          <li>
            <a href="/contact" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Kapcsolat</a>
          </li>




          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="toggleGardenSubmenu()">Kertészeti áruk</a>
            <ul id="homeSubmenu" [ngClass]="isGardenSubmenuOpen ? 'list-unstyled' : 'collapse list-unstyled'">
              <li>
                <a href="/search/virágcserepek" routerLink="/search/virágcserepek" routerLinkActive="active">
                  virágcserepek
                </a>
              </li>


              <li>
                <a href="/search/temetői vázák" routerLink="/search/temetői vázák" routerLinkActive="active">
                  temetői vázák
                </a>
              </li>



              <li>
                <a href="/search/ládák és vödrök" routerLink="/search/ládák és vödrök" routerLinkActive="active">
                  ládák, dézsák, vödrök
                </a>
              </li>

              <li>
                <a href="/search/hordók" routerLink="/search/hordók" routerLinkActive="active">
                hordók és demizsonok
                </a>
              </li>

              <li>
                <a href="/search/kannák" routerLink="/search/kannák" routerLinkActive="active">
                kannák
                </a>
              </li>

              <li>
                <a href="/search/seprűk" routerLink="/search/seprűk" routerLinkActive="active">
                  seprűk, partvisok, hólapát
                </a>
              </li>


            </ul>
          </li>

          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="toggleHouseholdSubmenu()">Háztartási áruk</a>
            <ul [ngClass]="isHouseholdSubmenuOpen ? 'list-unstyled' : 'collapse list-unstyled'" id="pageSubmenu">
              <li>
                <a href="/search/szemetesek" routerLink="/search/szemetesek" routerLinkActive="active">
                  szemetesek
                </a>
              </li>

              <li>
                <a href="/search" routerLink="/search/evőeszköztartók" routerLinkActive="active">
                  evőeszköztartók
                </a>
              </li>



              <li>
                <a href="/search" routerLink="/search/tálak" routerLinkActive="active">
                  tálak
                </a>
              </li>



              <li>
                <a href="/search" routerLink="/search/szivacsok" routerLinkActive="active">
                  szivacsok
                </a>
              </li>

            </ul>
          </li>

        </ul>

        <ul class="list-unstyled CTAs">

<li>Web by Tamás Krizsán 2020</li>

<!--
          <li>
              <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
              <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>-->



        </ul>



      </nav>




















      <!-- Page Content  -->
      <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">


            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <img [ngSrc]="'/public/assets/img/layout/logo.png'" width="311" height="80" alt="" border="0" priority="">

              <!--Matejka Műanyagárú Nagykereskedelem-->


              <!--<ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
              </ul>-->

              <button type="button" id="sidebarCollapse" class="btn btn-info menu-button" (click)="toggleSidebar()">
                <i class="fas fa-align-left"></i>
                <span><i class="bi bi-list"></i></span>
              </button>


            </div>
          </div>
        </nav>
        <div class="container">
        <router-outlet></router-outlet>









      </div>




    </div>
    </div>





  <!--  <footer class="footer text-center">
      <app-footer></app-footer>
    </footer>-->

  </main>
</div>

</div>
