<div class="container">

  <!--<header>
    <app-header></app-header>
  </header>-->

  <main>
    <!--<div class = "content content-top">
      <router-outlet></router-outlet>

    </div>-->


    <div class="wrapper">
      <!-- Sidebar  -->


      <nav id="sidebar" *ngIf="isSidebarOpen">
        <div class="sidebar-header">
          <h4>
            <i class="bi bi-list"></i>

            Menü

          </h4>
          <hr>

          <!--<img src="assets/img/layout/logo.png" width="311" height="80" alt="" border="0">-->

        </div>

        <ul class="list-unstyled components active">

          <li>
            <a href="/welcome" routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Rólunk</a>
          </li>
          <li>
            <a href="/services" routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Szolgáltatásaink</a>
          </li>
          <li>
            <a href="/contact" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Kapcsolat</a>
          </li>




          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="toggleGardenSubmenu()">Kertészeti áruk</a>
            <ul id="homeSubmenu" [ngClass]="isGardenSubmenuOpen ? 'list-unstyled' : 'collapse list-unstyled'">
              <li>
                <a href="">virágcserepek és alátétek</a>
              </li>
              <li>
                <a href="">virágtálak és alátétek</a>
              </li>
              <li>
                <a href="">függeszthető cserepek</a>
              </li>

              <li>
                <a href="">virágládák és alátétek</a>
              </li>

              <li>
                <a href="">temetői vázák és betétek</a>
              </li>

              <li>
                <a href="">baromfi etetők és itatók</a>
              </li>

              <li>
                <a href="">ládák, dézsák, vödrök</a>
              </li>

              <li>
                <a href="">hordók és demizsonok</a>
              </li>

              <li>
                <a href="">locsolók és kannák</a>
              </li>

              <li>
                <a href="">seprűk, partvisok, hólapát</a>
              </li>


            </ul>
          </li>

          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="toggleHouseholdSubmenu()">Háztartási áruk</a>
            <ul [ngClass]="isHouseholdSubmenuOpen ? 'list-unstyled' : 'collapse list-unstyled'" id="pageSubmenu">
              <li>
                <a href="#">szemetesek és szennyestartók</a>
              </li>

              <li>
                <a href="#">edény és evőeszköz szárítók, evőeszköztartók</a>
              </li>

              <li>
                <a href="#">tárolódobozok és tartók</a>
              </li>

              <li>
                <a href="#">tálak, ételhordók, kosarak</a>
              </li>

              <li>
                <a href="#">tálcák és tányérok</a>
              </li>

              <li>
                <a href="#">kancsók, poharak, bögrék</a>
              </li>

              <li>
                <a href="#">szivacsok és törlőkendők</a>
              </li>

            </ul>
          </li>

        </ul>

        <ul class="list-unstyled CTAs">

<li>Web by Tamás Krizsán 2020</li>

<!--
          <li>
              <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
              <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>-->



        </ul>



      </nav>




















      <!-- Page Content  -->
      <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">


            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <img src="assets/img/layout/logo.png" width="311" height="80" alt="" border="0">

              <!--Matejka Műanyagárú Nagykereskedelem-->


              <!--<ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page</a>
                </li>
              </ul>-->

              <button type="button" id="sidebarCollapse" class="btn btn-info menu-button" (click)="toggleSidebar()">
                <i class="fas fa-align-left"></i>
                <span><i class="bi bi-list"></i></span>
              </button>


            </div>
          </div>
        </nav>
        <div class="container">
        <router-outlet></router-outlet>









      </div>




    </div>
    </div>





  <!--  <footer class="footer text-center">
      <app-footer></app-footer>
    </footer>-->

  </main>
</div>
