<div class="card border-success mb-3">
  <div class="card-header">
    {{ category }}
  </div>
  <img class="card-img-top item-img" src="{{ img }}" width="250" height="180" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">
        {{ name }}
      </h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <small class="text-muted"><strong>Tipus: </strong>{{ type }}</small>
        </li>
        <li class="list-group-item">
          <small class="text-muted"><strong>Színek: </strong>{{ color }}</small>
        </li>
        <li class="list-group-item">
          <small class="text-muted"><strong>Cikkszám: </strong>{{ product_id }}</small>
        </li>
      </ul>
    </div>
</div>
