.item-img {
  width: 186px;
  height: 134px;
  margin: 0 auto;
}

.card {
  height: 420px;
}




/*
@media only screen and (min-width: 992px) and (max-width: 1399px) {


  .item-img {
    width: 186px;
    height: 134px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {


  .item-img {
    width: 186px;
    height: 134px;
  }

}*/



