<footer class=" footer text-center text-muted">

  <div id="container">
    <br>
    Matejka Műanyagárú Nagykereskedelem &copy; 1992-2025 |
    2161 Csomád Templom utca 15. (<a class="text-reset" href="https://goo.gl/maps/jTf8U9u7bN1u2a5s5" target="_blank">Google Maps</a>) |
    matejka.nagyker&#64;gmail.com <br> <a class="text-decoration-none text-reset" href="/impressum">Cégadatok/Impresszum</a> |
    <a class="text-decoration-none text-reset" href="#">Adatvédelmi tájékozató</a>
    <br>
    <a class="text-decoration-none text-reset" href="#">Web by Tamás Krizsán</a>

  </div>
</footer>
