
<footer class=" footer fixed-bottom text-center text-muted">

  <div id="container">
    <br>
    Matejka Műanyagárú Nagykereskedelem &copy; 1992-2025 <br>
    2161 Csomád Templom utca 15. (<a class="text-reset" href="https://goo.gl/maps/jTf8U9u7bN1u2a5s5" target="_blank">Google Maps</a>) |
    matejka.nagyker&#64;gmail.com |
    <a routerLink="/privacy-policy" class="text-decoration-none text-reset">
      Adatvédelmi tájékozató
    </a>
    <br>
    <a class="text-decoration-none text-reset" href="https://krizsanmunka.hu" target="_blank">
      Web by Tamás Krizsán
    </a>
  </div>
</footer>

