
footer {

  background-color: black;
  height: 100px;
  width: 100%;
  font-size: 12px;
  z-index: 3;

}


@media only screen and (min-width: 992px) {

  footer {

    position: relative;

  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

  footer {

    display: none;
    position: relative;

  }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {

  footer {

    display: none;
    position: relative;

    }
}


@media only screen and (max-width: 575px){

  footer {

    display: none;
    position: relative;

  }
}
