
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}


a[data-toggle="collapse"] {
  position: relative;
  cursor: pointer;
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #60c700;
}


#sidebar-menu {

  margin-top: 30px;
  padding: 0;

}


#sidebar {

  height: 100%;
  left: 0;
  top: 0;
  min-width: 50px;
  min-height: 100vh;
  overflow-y: auto;
  background: #60c700;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  z-index: 9999;

}

#sidebar .sidebar-header {
  padding: 20px 20px 0 20px;
  background: #60c700;
  z-index: 2;
}


#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}


#sidebar ul li a:hover {
  color: #60c700;
  background: #fff;
}


#close-button {

  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;

}


img#logo {

  display: block;
  margin: 0 auto;

}


#sidebar-desktop-title {

  display: none;

}


#sidebar-mobile-title {

  display: none;

}

#sidebar-search-box {

  margin-bottom: 30px;
}


/* lg-xl */
@media only screen and (min-width: 992px) {


  #sidebar {
      position: static;
      min-width: 250px;
  }


  #close-button {
    display: none;
  }


  #sidebar-mobile-title {
    display: block;
  }


  #sidebar-desktop-title {

    display: block;

  }


  #sidebar-mobile-title {

    display: none;

  }

}


/* sm-md */
@media only screen and (min-width: 576px) and (max-width: 991px) {


  #sidebar {

    min-width: 100%;

  }


  #close-button, #sidebar-mobile-title {
    display: block;
  }

}


/* xs */
@media only screen and (max-width: 575px) {


  #sidebar {

    position: absolute;
    min-width: 100%;

  }


  #close-button, #sidebar-mobile-title {
    display: block;
  }

}
