<nav id="sidebar" *ngIf="isSidebarOpen">
  <div class="sidebar-header" >
    <h4>
      Menü
      <i id="close-button" class="bi bi-x-lg" (click)="toggleSidebar()">
      </i>
    </h4>
    <hr>
  </div>
  <div id="sidebar-search-box" class="sidebar-header">
    <app-search-box></app-search-box>
  </div>
  <br>
  <ul id="sidebar-menu" class="list-unstyled">
    <li>
      <a routerLink="/welcome">Rólunk</a>
    </li>
    <li>
      <a routerLink="/services">Szolgáltatásaink</a>
    </li>
    <li>
      <a routerLink="/contact">Elérhetőségeink</a>
    </li>
    <br>
    <li>
      <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="toggleGardenSubmenu()">Kertészeti áruk</a>
      <ul id="homeSubmenu" [ngClass]="isGardenSubmenuOpen ? 'list-unstyled' : 'collapse list-unstyled'">
        <li>
          <a routerLink="/search/virágcserepek">
            virágcserepek
          </a>
        </li>
        <li>
          <a routerLink="/search/temetői vázák">
            temetői vázák
          </a>
        </li>
        <li>
          <a routerLink="/search/ládák és vödrök">
            ládák, dézsák, vödrök
          </a>
        </li>
        <li>
          <a routerLink="/search/hordók">
            hordók és demizsonok
          </a>
        </li>
        <li>
          <a routerLink="/search/kannák">
            kannák
          </a>
        </li>
        <li>
          <a routerLink="/search/seprűk">
            seprűk, partvisok, hólapát
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="toggleHouseholdSubmenu()">Háztartási áruk</a>
      <ul [ngClass]="isHouseholdSubmenuOpen ? 'list-unstyled' : 'collapse list-unstyled'" id="pageSubmenu">
        <li>
          <a routerLink="/search/szemetesek">
            szemetesek
          </a>
        </li>
        <li>
          <a routerLink="/search/evőeszköztartók">
            evőeszköztartók
          </a>
        </li>
        <li>
          <a routerLink="/search/tálak">
            tálak
          </a>
        </li>
        <li>
          <a routerLink="/search/szivacsok">
            szivacsok
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
