
<h1><u>Egyéb szolgáltatásaink</u></h1>
<table cellspacing="10">
  <tr>
    <td>
      <p><font size="5">
        Egyéb tevékenységünkhöz tartozik még az áruszállítás, melyet 18m<sup>3</sup>-es 1,1 tonnás zárt teherautóval végzünk.A szállítást nagy gyakorlattal,
        több éves tapasztalattal, gyorsan, pontosan teljesítjük. <br>
      </font>
      </p>


    </td>
    <td>
      <img src="assets/img/content/services/ducato.jpg" width="375" height="296" alt="" border="0">
    </td>
  </tr>
</table>


