
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center" id="service-title">
    <p class="h1">Egyéb szolgáltatásaink</p><hr>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 text-center align-middle" id="service-text">
    <p>
      Egyéb tevékenységünkhöz tartozik még az áruszállítás, melyet 18m<sup>3</sup>-es 1,1 tonnás zárt teherautóval végzünk.A szállítást nagy gyakorlattal,
      több éves tapasztalattal, gyorsan, pontosan teljesítjük.
    </p>

  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-center" id="service-img">
    <img [ngSrc]="'public/assets/img/content/services/ducato.jpg'" width="375" height="296" alt="" border="0">

  </div>
</div>
