#background {

  width: 100%;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  //gap: 50px;

  /*justify-content: flex-end;*/
  background-image:url("public/assets/img/layout/bg.jpg");



}


main {

  background-color: rgb(255, 255, 255);opacity:95%;

}

